<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/phpunit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    >
    <testsuites>
        <testsuite name="ClassAct Test Suite">
            <directory suffix=".php">./tests/phpunit/includes</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true" cacheDirectory="tests/coverage/.cache">
        <include>
            <directory suffix=".php">./includes</directory>
            <file>./classact.php</file>
        </include>
        <report>
            <html outputDirectory="tests/coverage/html" />
            <clover outputFile="tests/coverage/clover.xml" />
        </report>
    </coverage>
    <php>
        <const name="WP_TESTS_MULTISITE" value="0" />
        <const name="WP_TESTS_DOMAIN" value="example.org" />
        <const name="WP_TESTS_EMAIL" value="admin@example.org" />
        <const name="WP_TESTS_TITLE" value="ClassAct Test Site" />
        <const name="WP_PHP_BINARY" value="php" />
        <const name="CLASSACT_TESTS_DIR" value="tests/phpunit" />
    </php>
</phpunit>